body{
  margin: 0;
  padding: 0; 
  font-family: "Roboto", "Arial", sans-serif;
}

:root {
  --primary-color: #181818;
  --secondary-color: #212121;
  --secondary-light-color: #383838;
  --main-secondary-light: #717171;
  --text-light-main: #aaaaaa;
  --hover-text-color: #4d4d4d;
  --text-main: #fff;
  --text-theme:lightgrey;

}

.light-theme {
  --primary-color: #f9f9f9;
  --secondary-color: #ffff;
  --secondary-light-color: #e5e5e5;
  --main-secondary-light: #e5e5e5;
  --hover-text-color: #dbdbdb;
  --text-main: #000000;
  --text-light-main: #4d4d4d;
  --text-theme:  black;
}

::-webkit-scrollbar{
  width: 8px;
  background-color: var(--primary-color);

}

#horizontal-line{
  width: 100%;
  height: 1PX;
  margin-top: 10px;
  background-color: var(--hover-text-color);
  padding: 0;
}